---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: usb-pv
  namespace: nfs-server
spec:
  capacity:
    storage: 1Ti
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: usb-storage
  hostPath:
    path: /mnt/usb
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: hdd
          operator: In
          values:
          - enabled
