apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config-usb
  namespace: jellyfin
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: jellyfin-config-sc
