apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--log.level=DEBUG"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints: ["traefik"]
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
    certificatesResolvers:
      acmeresolver:
        acme:
          email: thecodeviking@gmail.com
          storage: /data/acme.json
          tlsChallenge: true
          caServer: "https://acme-v02.api.letsencrypt.org/directory"
  valuesSecrets:
    - name: traefik-tailscale-config
      ignoreUpdates: false
      keys:
        - configValues
